# .gitignore

# Logs
.log

# KDE
.directory
.*swp
.*~

# OpenSSL
.ca
.crt
.csr
.der
.kdb
.org
.p12
.pem
.rnd
.ssleay
.smime

# GPG
secring.*
.gpg
.asc
.key
.pub

# SSH keys
id_*

# neovim vim-plug files
plugged/

# General
Cache/
Extracted/
