# ~/.envrc
# User created environment configuration

# Installation / Source / Home directories

NVM_DIR=/usr/share/nvm
PLATFORM_TOOLS_BIN='/opt/android-sdk/platform-tools'
YARN_BIN=$(yarn global bin)

paths=(\
    $PLATFORM_TOOLS_BIN \
    $YARN_BIN \
)
