#!/usr/bin/env sh
# ~/.envrc - User created environment configuration

# Configuration variables

# Colorize man pages using less as the pager
export MANPAGER="less -R --use-color -Dd+r -Du+b"

# Installation / Source / Home directories

NVM_DIR="/usr/share/nvm"
PLATFORM_TOOLS_BIN="/opt/android-sdk/platform-tools"
YARN_BIN=$(yarn global bin)
GOBIN="$HOME/go/bin"
CARGOBIN="$HOME/.cargo/bin"

# User created
USERBIN="$HOME/.local/bin"

# TeX Live path (originally ~/textmf)
TEXMFHOME='~/.texmf'

paths=(\
    "$PLATFORM_TOOLS_BIN" \
    "$YARN_BIN" \
    "$GOBIN" \
    "$CARGOBIN"
    "$USERBIN"
)
