configuration {
    font: "SF Mono 10";
    show-icons: true;
    icon-theme: "Papirus";
    window-format: "{t}";
    sidebar-mode: false;
    lines: 10;
    width: 60;
    location: 1;
    x-offset: 30;
    y-offset: 30;
    padding: 30;
}

@theme "spotlight"
