/** Basic config file **/

configuration {
    modi: "window,drun,ssh,combi";
    font: "SF Mono 10";
    combi-modi: "window,drun,ssh";
    show-icons:         true;
    icon-theme:         "Papirus";
}


