[user]
	name = Ayush
	email = aym@pm.me
	signingKey = 0x26FB97C855160072
[core]
    autocrlf = input
	editor = nano -w
	excludesFile = $HOME/.gitignore
[commit]
	gpgSign = true
[gpg]
	program = gpg
[init]
	defaultBranch = master
[color]
    ui = auto
[push]
    default = simple
