[user]
	name = Ayush
	email = aym@pm.me
	signingkey = 0x26FB97C855160072
[core]
	autocrlf = input
	editor = "vim"
	excludesFile = $HOME/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = gpg
[init]
	defaultbranch = master
[color]
	ui = auto
[push]
	default = simple
